<div ui-content-for="title"> <span>angular ng test</span></div>
<div class="scrollable">
	<div class="scrollable-header">
		this is test angular ng
	</div>
	<div class="scrollable-content section">
		<div id="div2" ng-controller="controller2">
			??? {{name}}
			<a >what??</a>
			<form action="" novalidate="novalidate">
				<input type="text" ng-model="user.name" ng-maxlength="5" ng-trim="true" name="" id="" value="" />
				<div>{{user.name}}</div>
				<div><input type="month" /></div>
				<div><input type="email" /></div>
				<div><input type="date" /></div>
				<div><input type="url" /></div>
				<div><input type="week" /></div>
			</form>
		</div>
	</div>
	<div class="scrollable-footer">

	</div>

</div>