<div class="scrollable">
	<div class="scrollable-header"></div>
	<div class="scrollable-content section " >
		<div  ng-swipe-left='left()' ng-swipe-right="right()">test  滑动 </div> 
		 {{direction}}
		 
		<div class="touch_content " toucharea>
			{{touch.direction}}
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo iusto mollitia odit voluptatem vel. Excepturi ipsum aut repellendus harum omnis laboriosam sunt! Blanditiis asperiores placeat odio quam inventore autem officiis doloribus reiciendis ex cum architecto error molestias expedita dolorem beatae facere vel omnis exercitationem nulla illo eum saepe voluptates tenetur.
		</div>
		
		<div class="touch_content" toucharea-test>
			{{touchTo}}
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo possimus!
		</div>
		
	</div>
	<div class="scrollable-footer"></div>
</div>