this is forms
<div class="scrollable">
	<div class="scrollable-header">this is head</div>
	<div class="scrollable-content section">
		<form action="">
			<div class="form-group">
				<label for="userName">name：</label>
				<input type="text" class="form-control" />
			</div>
			<div class="form-group">
				<label for="pwd">pwd：</label>
				<input type="password" class="form-control" />
			</div>
		</form>
	</div>
	<div class="scrollable-footer">this is footer</div>
</div>
<div ui-content-for="navbarAction">
	<a class='btn' ng-click='login()'>Login</a>
</div>